USE [master]
GO
/****** Object:  Database [DronPage]    Script Date: 1/15/2025 1:45:22 PM ******/
CREATE DATABASE [DronPage]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DronPage', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DronPage.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DronPage_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DronPage_log.ldf' , SIZE = 2304KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DronPage].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DronPage]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 1/15/2025 1:45:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 1/15/2025 1:45:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 1/15/2025 1:45:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 1/15/2025 1:45:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 1/15/2025 1:45:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 1/15/2025 1:45:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatMotivoCorreo]    Script Date: 1/15/2025 1:45:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatMotivoCorreo](
	[IdMotivoCorreo] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMotivoCorreo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatPregunta]    Script Date: 1/15/2025 1:45:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatPregunta](
	[IdPregunta] [tinyint] IDENTITY(1,1) NOT NULL,
	[Pregunta] [varchar](500) NULL,
	[Respuesta] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPregunta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatServicio]    Script Date: 1/15/2025 1:45:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatServicio](
	[IdCatServicio] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](100) NOT NULL,
	[Contenido] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCatServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ciudad]    Script Date: 1/15/2025 1:45:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciudad](
	[IdCiudad] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[IdPais] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCiudad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FechasReservadas]    Script Date: 1/15/2025 1:45:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FechasReservadas](
	[IdFechaReservada] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFechaReservada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormularioContacto]    Script Date: 1/15/2025 1:45:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormularioContacto](
	[IdFormularioContacto] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](100) NOT NULL,
	[EmailUsuario] [varchar](200) NOT NULL,
	[Telefono] [varchar](12) NULL,
	[CantidadDrones] [varchar](5) NOT NULL,
	[Fecha] [varchar](15) NOT NULL,
	[IdCatServicio] [int] NULL,
	[IdCiudad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFormularioContacto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 1/15/2025 1:45:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pais](
	[IdPais] [tinyint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'dffee6e6-ce56-4659-925c-e6a7e979b01c', N'jorgeTest@gmail.com', 0, N'AD3mSu+nHZaRMX8UE4zuvAl/SsYKCU6Dtvrr1HRF9gjM3por0mBDmhI8ylF6r3Jy5Q==', N'7902f82e-5f24-40f1-ba23-4262737ca583', NULL, 0, 0, NULL, 1, 0, N'jorgeTest@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[CatPregunta] ON 

INSERT [dbo].[CatPregunta] ([IdPregunta], [Pregunta], [Respuesta]) VALUES (1, N'¿Qué es un Show de Drones?', N'Un show de drones es un espectáculo donde múltiples drones equipados con luces LED realizan movimientos precisos y coordinados para crear figuras y efectos visuales impactantes en el cielo.')
INSERT [dbo].[CatPregunta] ([IdPregunta], [Pregunta], [Respuesta]) VALUES (2, N'¿Cuántos drones se utilizan en un show?', N'Utilizamos entre 100 y más de 400 drones, dependiendo del tamaño y la complejidad del espectáculo solicitado.')
INSERT [dbo].[CatPregunta] ([IdPregunta], [Pregunta], [Respuesta]) VALUES (3, N'¿Cuánto dura un show de drones?', N'La duración de un show de drones varía, pero generalmente oscila entre 10 y 20 minutos.')
SET IDENTITY_INSERT [dbo].[CatPregunta] OFF
GO
SET IDENTITY_INSERT [dbo].[CatServicio] ON 

INSERT [dbo].[CatServicio] ([IdCatServicio], [Titulo], [Contenido]) VALUES (1, N'Evento Corporativo', N'Conferencias de empresa, lanzamientos de productos, eventos de networking')
INSERT [dbo].[CatServicio] ([IdCatServicio], [Titulo], [Contenido]) VALUES (2, N'Evento Social', N'Bodas, aniversarios, fiestas de cumpleaños')
INSERT [dbo].[CatServicio] ([IdCatServicio], [Titulo], [Contenido]) VALUES (3, N'Evento Cultural', N'Exposiciones de arte, festivales de música, ferias literarias')
SET IDENTITY_INSERT [dbo].[CatServicio] OFF
GO
SET IDENTITY_INSERT [dbo].[Ciudad] ON 

INSERT [dbo].[Ciudad] ([IdCiudad], [Nombre], [IdPais]) VALUES (1, N'Montreal', 1)
INSERT [dbo].[Ciudad] ([IdCiudad], [Nombre], [IdPais]) VALUES (2, N'Toronto', 1)
INSERT [dbo].[Ciudad] ([IdCiudad], [Nombre], [IdPais]) VALUES (3, N'Miami', 2)
SET IDENTITY_INSERT [dbo].[Ciudad] OFF
GO
SET IDENTITY_INSERT [dbo].[FechasReservadas] ON 

INSERT [dbo].[FechasReservadas] ([IdFechaReservada], [Fecha]) VALUES (1, N'2024-08-03')
INSERT [dbo].[FechasReservadas] ([IdFechaReservada], [Fecha]) VALUES (2, N'2024-08-04')
INSERT [dbo].[FechasReservadas] ([IdFechaReservada], [Fecha]) VALUES (3, N'2024-08-10')
SET IDENTITY_INSERT [dbo].[FechasReservadas] OFF
GO
SET IDENTITY_INSERT [dbo].[FormularioContacto] ON 

INSERT [dbo].[FormularioContacto] ([IdFormularioContacto], [NombreUsuario], [EmailUsuario], [Telefono], [CantidadDrones], [Fecha], [IdCatServicio], [IdCiudad]) VALUES (1, N'Jorge Guevara Flores', N'jorgegf720@gmail.com', N'5565588544', N'200', N'2024-08-30', 3, NULL)
INSERT [dbo].[FormularioContacto] ([IdFormularioContacto], [NombreUsuario], [EmailUsuario], [Telefono], [CantidadDrones], [Fecha], [IdCatServicio], [IdCiudad]) VALUES (2, N'Jorge Guevara Flores', N'jorgegf720@gmail.com', N'5565588544', N'100', N'2024-08-28', 1, NULL)
INSERT [dbo].[FormularioContacto] ([IdFormularioContacto], [NombreUsuario], [EmailUsuario], [Telefono], [CantidadDrones], [Fecha], [IdCatServicio], [IdCiudad]) VALUES (3, N'Jorge Guevara Flores', N'jorgegf720@gmail.com', N'5565588544', N'200', N'2024-08-30', 2, NULL)
SET IDENTITY_INSERT [dbo].[FormularioContacto] OFF
GO
SET IDENTITY_INSERT [dbo].[Pais] ON 

INSERT [dbo].[Pais] ([IdPais], [Nombre]) VALUES (1, N'Canadá')
INSERT [dbo].[Pais] ([IdPais], [Nombre]) VALUES (2, N'EE.UU.')
INSERT [dbo].[Pais] ([IdPais], [Nombre]) VALUES (3, N'México')
SET IDENTITY_INSERT [dbo].[Pais] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 1/15/2025 1:45:22 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 1/15/2025 1:45:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 1/15/2025 1:45:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 1/15/2025 1:45:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 1/15/2025 1:45:22 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 1/15/2025 1:45:22 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Ciudad]  WITH CHECK ADD FOREIGN KEY([IdPais])
REFERENCES [dbo].[Pais] ([IdPais])
GO
ALTER TABLE [dbo].[FormularioContacto]  WITH CHECK ADD FOREIGN KEY([IdCatServicio])
REFERENCES [dbo].[CatServicio] ([IdCatServicio])
GO
ALTER TABLE [dbo].[FormularioContacto]  WITH CHECK ADD FOREIGN KEY([IdCiudad])
REFERENCES [dbo].[Ciudad] ([IdCiudad])
GO
/****** Object:  StoredProcedure [dbo].[CatMotivoCorreoAdd]    Script Date: 1/15/2025 1:45:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CatMotivoCorreoAdd]
@Descripcion VARCHAR(200)
AS
INSERT INTO CatMotivoCorreo VALUES (@Descripcion)
GO
/****** Object:  StoredProcedure [dbo].[CatMotivoCorreoDelete]    Script Date: 1/15/2025 1:45:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CatMotivoCorreoDelete]
@IdMotivoCorreo INT
AS
DELETE FROM CatMotivoCorreo 
WHERE IdMotivoCorreo = @IdMotivoCorreo
GO
/****** Object:  StoredProcedure [dbo].[CatMotivoCorreoGetAll]    Script Date: 1/15/2025 1:45:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CatMotivoCorreoGetAll]
AS
SELECT
	IdMotivoCorreo, Descripcion
FROM CatMotivoCorreo
GO
/****** Object:  StoredProcedure [dbo].[CatMotivoCorreoGetById]    Script Date: 1/15/2025 1:45:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CatMotivoCorreoGetById]
@IdMotivoCorreo INT
AS
SELECT
	IdMotivoCorreo, Descripcion
FROM CatMotivoCorreo
WHERE IdMotivoCorreo = @IdMotivoCorreo
GO
/****** Object:  StoredProcedure [dbo].[CatMotivoCorreoUpdate]    Script Date: 1/15/2025 1:45:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CatMotivoCorreoUpdate]
@IdMotivoCorreo INT,
@Descripcion VARCHAR(200)
AS
UPDATE CatMotivoCorreo
SET Descripcion = @Descripcion
WHERE IdMotivoCorreo = @IdMotivoCorreo
GO
/****** Object:  StoredProcedure [dbo].[CatPreguntaGetAll]    Script Date: 1/15/2025 1:45:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CatPreguntaGetAll]
AS
SELECT
	IdPregunta, Pregunta, Respuesta
FROM CatPregunta
GO
/****** Object:  StoredProcedure [dbo].[CatServicioGetAll]    Script Date: 1/15/2025 1:45:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CatServicioGetAll]
AS
SELECT
	IdCatServicio, Titulo, Contenido
FROM CatServicio


GO
/****** Object:  StoredProcedure [dbo].[CiudadGetByIdPais]    Script Date: 1/15/2025 1:45:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CiudadGetByIdPais]
@IdPais TINYINT
AS
SELECT
	IdCiudad, Nombre
FROM Ciudad
WHERE IdPais = @IdPais
GO
/****** Object:  StoredProcedure [dbo].[FormularioContactoAdd]    Script Date: 1/15/2025 1:45:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FormularioContactoAdd]
@NombreUsuario VARCHAR(100),
@EmailUsuario VARCHAR(200),
@Telefono VARCHAR(12),
@CantidadDrones VARCHAR(5),
@Fecha VARCHAR(15),
@IdCatServicio INT,
@IdCiudad INT

AS

INSERT INTO FormularioContacto
VALUES (@NombreUsuario, @EmailUsuario, @Telefono, @CantidadDrones, @Fecha, @IdCatServicio, @IdCiudad)
GO
/****** Object:  StoredProcedure [dbo].[PaisGetAll]    Script Date: 1/15/2025 1:45:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PaisGetAll]
AS
SELECT 
	IdPais, Nombre
FROM Pais
GO
USE [master]
GO
