@model ML.CatServicio

@{
    ViewBag.Title = "Reserva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/cssEstilos/Reserva.css" />
<link rel="stylesheet" type="text/css" href="~/Content/cssEstilos/Calendario.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/es.min.js"></script>


<main class="pt-5">
    <div class="container mt-5">
        <div class="position-relative" style="height: 300px; overflow: hidden;">
            <!--<img src="img/Cards/Calabaza.png" class="img-fluid" alt="Descripción de la imagen" style="object-fit: cover; width: 100%; height: 100%;">-->
            <video autoplay loop>
                <source src="~/Content/video/Banner.mp4" />
            </video>
            <div class="position-absolute top-50 start-50 translate-middle text-white text-center">
                <!--<h2>Contáctanos</h2>-->
                <p class="display-4 display-sm-3 display-md-2 display-lg-1 fw-bold banner">Contactanos</p>
            </div>
        </div>

        <div class="row mt-5">
            <!-- Información de la Empresa -->
            <div class="col-lg-6 col-md-12 mb-4 order-lg-1 order-2 mt-4 mt-md-0">
                <h5 class="text-center mb-3">¡Hablemos! Completa el formulario para que podamos ayudarte.</h5>
                <form>
                    <div class="mb-3">
                        <label for="nombre" class="form-label"><i class="bi bi-person"></i> Nombre</label>
                        <input type="text" class="form-control" id="nombre">
                    </div>
                    <div class="mb-3">
                        <label for="ciudad" class="form-label"><i class="bi bi-geo-alt"></i> Ciudad</label>
                        <input type="text" class="form-control" id="ciudad">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label"><i class="bi bi-envelope"></i> Email</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <div class="mb-3">
                        <label for="telefono" class="form-label"><i class="bi bi-telephone"></i> Teléfono</label>
                        <input type="text" class="form-control" id="telefono">
                    </div>
                    <div class="form-text text-white">
                        Si tienes alguna duda, revisa nuestra sección de <a href="@Url.Action("Preguntas","Home")" class="text-info">preguntas frecuentes</a>, no dudes en escribirnos. Estamos aquí para ayudarte.
                    </div>
                </form>
            </div>

            <!-- Formulario de Reserva -->
            <div class="col-lg-6 col-md-12 order-lg-2 order-1 mb-4s text-white">
                <h1 class="text-center fw-bold mb-5">Servicio</h1>
                @foreach (ML.CatServicio servicio in Model.CatServicios)
                {
                    <input type="hidden" value="@servicio.IdCatServicio" />
                    <div class="service-option" id="evento-corporativo">
                        <h3>@servicio.Titulo</h3>
                        <p>@servicio.Contenido</p>
                    </div>
                }

            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-6 order-lg-1">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <video autoplay muted loop>
                                <source src="~/Content/video/Banner.mp4"
                                        type="video/mp4">
                                Tu navegador no soporta el elemento de video.
                            </video>
                            <div class="carousel-caption d-none d-md-block">
                                <h5>100 Drones</h5>
                                <p>Descripción del video</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <video autoplay muted loop>
                                <source src="~/Content/video/Aguila 3mb.mp4" type="video/mp4">
                            </video>
                            <div class="carousel-caption d-none d-md-block">
                                <h5>200 Drones</h5>
                                <p>Otra descripción</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <video autoplay muted loop>
                                <source src="~/Content/video/Mexico 3mb.mp4" type="video/mp4">
                            </video>
                            <div class="carousel-caption d-none d-md-block">
                                <h5>300 Drones</h5>
                                <p>Última descripción</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-lg-2">
                <div id="calendar"></div>
            </div>
        </div>

    </div>

</main>




<script type="text/javascript" src="~/Scripts/Reserva/Email.js"></script>
<script type="text/javascript" src="~/Scripts/Reserva/Calendario.js"></script>

<script>
    // Obtener todos los elementos de opción de servicio
    const serviceOptions = document.querySelectorAll('.service-option');

    // Agregar evento de click a cada opción
    serviceOptions.forEach(option => {
        option.addEventListener('click', function () {
            // Remover la clase 'active' de todas las opciones
            serviceOptions.forEach(opt => opt.classList.remove('active'));

            // Agregar la clase 'active' a la opción seleccionada
            this.classList.add('active');
        });
    });
</script>
