@model ML.CatMotivoCorreo

@{
    ViewBag.Title = "Reserva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/cssEstilos/Reserva.css" />

<main class="pt-5">
    <div class="container mt-5">
        <div class="position-relative" style="height: 300px; overflow: hidden;">
            <!--<img src="img/Cards/Calabaza.png" class="img-fluid" alt="Descripción de la imagen" style="object-fit: cover; width: 100%; height: 100%;">-->
            <video autoplay loop>
                <source src="~/Content/video/Banner.mp4" />
            </video>
            <div class="position-absolute top-50 start-50 translate-middle text-white text-center">
                <!--<h2>Contáctanos</h2>-->
                <p class="display-4 display-sm-3 display-md-2 display-lg-1 fw-bold banner">Contactanos</p>
            </div>
        </div>

        <div class="row mt-5">
            <!-- Información de la Empresa -->
            <div class="col-lg-6 col-md-12 mb-4 order-lg-1 order-2 mt-4 mt-md-0">
                <div class="ratio ratio-4x3">
                    <br />
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.583157696642!2d-99.16422772508706!3d19.430408440751457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff59e4d836d3%3A0xbcd6c98eb895755f!2sAv.%20P.%C2%BA%20de%20la%20Reforma%20199%2C%20Col.%20Renacimiento%2C%20Cuauht%C3%A9moc%2C%2006500%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1sen!2smx!4v1722033308898!5m2!1sen!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

            <!-- Formulario de Reserva -->
            <div class="col-lg-6 col-md-12 order-lg-2 order-1 mb-4s text-white">
                <form id="formReserva">
                    <div class="mb-3">
                        <label for="nombre" class="form-label"><strong>Nombre*</strong></label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control" id="nombre" placeholder="Nombre" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label"><strong>Email*</strong></label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                            <input type="email" class="form-control" id="email" placeholder="Email" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="asunto" class="form-label"><strong>Asunto*</strong></label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa fa-tag"></i></span>
                            <input type="text" class="form-control" id="asunto" placeholder="Asunto" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="asunto" class="form-label"><strong>Asunto*</strong></label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa fa-tag"></i></span>
                            <input type="text" class="form-control" id="asunto" placeholder="Asunto" required>
                            @*@Html.DropDownListFor(Model => Model.IdCatMotivoCorreo, new SelectList(Model.CatMotivosCorreo), )*@
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="mensaje" class="form-label"><strong>Mensaje*</strong></label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa fa-comment"></i></span>
                            <textarea class="form-control" id="mensaje" rows="4" placeholder="Mensaje" required></textarea>
                        </div>
                    </div>

                    <div class="text-center">
                        <input type="submit" class="custom-btn bg-transparent" value="Enviar">
                    </div>
                </form>
            </div>
        </div>
    </div>



    <!--Modal-->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Resultado de la Reserva</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Mensaje de éxito o error se actualizará aquí -->
                    <p id="modalMessage" style="color: black;"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

</main>

<script type="text/javascript" src="~/Scripts/Reserva/Email.js"></script>