@model ML.CatServicio

@{
    ViewBag.Title = "Reserva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/cssEstilos/Reserva.css" />
<link rel="stylesheet" type="text/css" href="~/Content/cssEstilos/Calendario.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/es.min.js"></script>


<main class="pt-5">
    <div class="container mt-5">
        <div class="position-relative" style="height: 300px; overflow: hidden;">
            <!--<img src="img/Cards/Calabaza.png" class="img-fluid" alt="Descripción de la imagen" style="object-fit: cover; width: 100%; height: 100%;">-->
            <video autoplay loop>
                <source src="~/Content/video/Banner.mp4" />
            </video>
            <div class="position-absolute top-50 start-50 translate-middle text-white text-center">
                <!--<h2>Contáctanos</h2>-->
                <p class="display-4 display-sm-3 display-md-2 display-lg-1 fw-bold banner">Contactanos</p>
            </div>
        </div>

        <div class="row mt-5" id="section1">
            <!-- Información de la Empresa -->
            <div class="col-lg-6 col-md-12 mb-4 order-lg-1 order-2 mt-4 mt-md-0">
                <h5 class="text-center mb-3">¡Hablemos! Completa el formulario para que podamos ayudarte.</h5>
                <form>
                    <div class="mb-3">
                        <label for="nombre" class="form-label"><i class="bi bi-person"></i> Nombre</label>
                        <input type="text" class="form-control" id="nombre">
                    </div>
                    <div class="mb-3">
                        <label for="ciudad" class="form-label"><i class="bi bi-geo-alt"></i> Ciudad</label>
                        <input type="text" class="form-control" id="ciudad">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label"><i class="bi bi-envelope"></i> Email</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <div class="mb-3">
                        <label for="telefono" class="form-label"><i class="bi bi-telephone"></i> Teléfono</label>
                        <input type="text" class="form-control" id="telefono">
                    </div>
                    <div class="form-text text-white">
                        Si tienes alguna duda, revisa nuestra sección de <a href="@Url.Action("Preguntas","Home")" class="text-info">preguntas frecuentes</a>, no dudes en escribirnos. Estamos aquí para ayudarte.
                    </div>
                </form>

                <button id="nextToSection2" class="btn btn-primary mt-3">Siguiente</button>
            </div>

            <!-- Formulario de Reserva -->
            <div class="col-lg-6 col-md-12 order-lg-2 order-1 mb-4s text-white">
                <h1 class="text-center fw-bold mb-5">Servicio</h1>
                @foreach (ML.CatServicio servicio in Model.CatServicios)
                {
                    <input type="hidden" value="@servicio.IdCatServicio" />
                    <div class="service-option" id="evento-corporativo">
                        <h3>@servicio.Titulo</h3>
                        <p>@servicio.Contenido</p>
                    </div>
                }

            </div>
        </div>

        <div class="row mt-5" id="section2"  style="display: none;">
            <div class="col-lg-6 order-lg-1">
                <div id="dronesCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <h2 class="text-center">Cantidad de drones</h2>

                        <div class="carousel-item active text-center">
                            <div class="drone-count">
                                <video class="mb-3" style="width:60%; margin: 0 auto; border-radius: 15px;" autoplay muted loop>
                                    <source src="~/Content/video/5.Calabaza.mp4" type="video/mp4">
                                    Tu navegador no soporta video HTML5.
                                </video>
                                <h3>200</h3>
                                <p>Lorem Lorem ipsum dolor sit</p>
                            </div>
                        </div>

                        <div class="carousel-item text-center">
                            <div class="drone-count">
                                <video class="mb-3" style="width: 150px; height: 150px; margin: 0 auto; border-radius: 15px;" autoplay muted loop>
                                    <source src="~/Content/video/5.Calabaza.mp4" type="video/mp4">
                                    Tu navegador no soporta video HTML5.
                                </video>
                                <h3>200</h3>
                                <p>Lorem Lorem ipsum dolor sit</p>
                            </div>
                        </div>
                        <!-- Puedes agregar más elementos del carrusel aquí -->
                    </div>
                    <a class="carousel-control-prev" href="#dronesCarousel" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#dronesCarousel" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </div>

                <button id="backToSection1" class="btn btn-secondary mt-3">Regresar</button>
                <button id="sendEmail" class="btn btn-primary mt-3">Enviar Correo</button>
            </div>

            <div class="col-lg-6 order-lg-2">
                <div id="calendar"></div>
            </div>
        </div>

    </div>

</main>




<script type="text/javascript" src="~/Scripts/Reserva/Email.js"></script>
<script type="text/javascript" src="~/Scripts/Reserva/Calendario.js"></script>
<script type="text/javascript" src="~/Scripts/Reserva/Reserva.js"></script>