@{
    ViewBag.Title = "Home Page";
}

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&amp;display=swap">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<div id="introCarousel" class="carousel slide">
    <!-- Indicators -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#introCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#introCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#introCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#introCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>

    <!-- Inner -->
    <div class="carousel-inner">
        <!-- Single item -->
        <div class="carousel-item active">
            <video class="w-100" autoplay loop muted>
                <source src="~/Content/video/Calavera 3mb.mp4" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
            <div class="carousel-caption d-flex justify-content-center align-items-center h-100 text-center">
                <div>
                    <h1 class="display-4 fw-bold text-light titleNuevo">Nombre Empresa</h1>
                    <p class="lead text-light subtitleNuevo">Con drones de nueva generación y amplia experiencia creamos a tu lado los mejores shows de drones en ...</p>
                    <div class="d-flex justify-content-center gap-3">
                        <a class="btn btn-outline-light rounded-pill px-4 py-2" href="@Url.Action("Reserva","Home")">
                            <h5 class="mb-0">Contáctanos!!!</h5>
                        </a>
                        <a class="btn btn-outline-light rounded-pill px-4 py-2" href="#nuestroTrabajo">
                            <h5 class="mb-0">Nuestro Trabajo</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single item -->
        <div class="carousel-item">
            <video class="w-100" autoplay loop muted>
                <source src="~/Content/video/Aguila 3mb.mp4" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
            <div class="carousel-caption d-flex justify-content-center align-items-center h-100 text-center">
                <div>
                    <h1 class="display-4 fw-bold text-light">El mejor show de drones</h1>
                    <div class="d-flex justify-content-center gap-3">
                        <a class="btn btn-outline-light rounded-pill px-4 py-2" href="@Url.Action("Reserva","Home")">
                            <h5 class="mb-0">Contáctanos!!!</h5>
                        </a>
                        <a class="btn btn-outline-light rounded-pill px-4 py-2" href="#NuestroTrabajo">
                            <h5 class="mb-0">Nuestro Trabajo</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single item -->
        <div class="carousel-item">
            <video class="w-100" autoplay loop muted>
                <source src="~/Content/video/Caballo 3mb.mp4" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
            <div class="carousel-caption d-flex justify-content-center align-items-center h-100 text-center">
                <div>
                    <h1 class="display-4 fw-bold text-light">El mejor show de drones</h1>
                    <div class="d-flex justify-content-center gap-3">
                        <a class="btn btn-outline-light rounded-pill px-4 py-2" href="@Url.Action("Reserva","Home")">
                            <h5 class="mb-0">Contáctanos!!!</h5>
                        </a>
                        <a class="btn btn-outline-light rounded-pill px-4 py-2" href="Reserva.html">
                            <h5 class="mb-0">Nuestro Trabajo</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single item -->
        <div class="carousel-item">
            <video class="w-100" autoplay loop muted>
                <source src="~/Content/video/Rueda fortuna 3mb.mp4" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
            <div class="carousel-caption d-flex justify-content-center align-items-center h-100 text-center">
                <div>
                    <h1 class="display-4 fw-bold text-light">El mejor show de drones</h1>
                    <div class="d-flex justify-content-center align-items-center gap-3">
                        <a class="btn btn-outline-light rounded-pill px-4 py-2" href="Reserva.html">
                            <h5 class="mb-0">Contáctanos!!!</h5>
                        </a>
                        <a class="btn btn-outline-light rounded-pill px-4 py-2" href="Reserva.html">
                            <h5 class="mb-0">Nuestro Trabajo</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#introCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon rounded-circle" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#introCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon rounded-circle" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<main class="pt-5 px-5">
    <div class="container-fluid text-white" id="sobreNosotros">
        <div>
            <h2 class="text-center mb-4">Sobre Nosotros</h2>
            <dxiv class="mt-4">
                <div class="row">
                    <div class="col-12 col-md-6 p-3">
                        <h3 class="text-center">Nombre empresa</h3>
                        <p>
                            Ofrecemos un espectáculo aéreo con drones equipados con luces LED, combinando movimientos precisos y luces multicolores para crear imágenes impactantes. Nuestro equipo está compuesto por pilotos certificados y profesionales altamente capacitados en programación y diseño.
                            Contamos con todos los permisos de vuelo y seguros necesarios, y diseñamos y ejecutamos espectáculos aéreos con un rango de 100 a más de 400 drones, cada uno con LED multicolor de 2200 lúmenes, destacándonos como los drones más brillantes del mercado.
                        </p>
                    </div>
                    <div class="col-12 col-md-6 p-3">
                        <img src="~/Content/img/Cards/Santa.png" class="img-fluid" />
                    </div>
                </div>
            </dxiv>
        </div>

        <div class="mt-5 text-center" id="nuestroTrabajo">
            <h2 class="text-center mb-4">Nuestro trabajo</h2>
            <div class="text-center mt-4">
                <div class="container-fluid my-5">
                    <div class="row">
                        <div class="col-md-4 mb-4">

                            <div class="card bg-transparent text-white">
                                <video controls loop muted>
                                    <source src="~/Content/video/5.Calabaza.mp4" />
                                </video>

                                <div class="card-img-overlay">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <a href="#">
                                <div class="card bg-transparent">
                                    <!--<img src="img/Cards/Calabaza.png" class="card-img-top" alt="drones">-->
                                    <video controls loop muted>
                                        <source src="~/Content/video/Corazon 3mb.mp4" />
                                    </video>
                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 mb-4">
                            <a href="#">
                                <div class="card bg-transparent">
                                    <!--<img src="img/Cards/Calavera.png" class="card-img-top" alt="drones">-->
                                    <video controls loop muted>
                                        <source src="~/Content/video/Flor 3mb.mp4" />
                                    </video>
                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 mb-4">
                            <a href="#">
                                <div class="card bg-transparent">
                                    <!--<img src="img/Cards/Santa.png" class="card-img-top" alt="drones">-->
                                    <video controls loop muted>
                                        <source src="~/Content/video/Rueda fortuna 3mb.mp4" />
                                    </video>
                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 mb-4">
                            <a href="#">
                                <div class="card bg-transparent">
                                    <!--<img src="img/Cards/Fantasma.png" class="card-img-top" alt="drones">-->
                                    <video controls loop muted>
                                        <source src="~/Content/video/Santa 3mb.mp4" />
                                    </video>
                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 mb-4">
                            <a href="#">
                                <div class="card bg-transparent">
                                    <!--<img src="img/Cards/Satelite.png" class="card-img-top" alt="drones">-->
                                    <video controls loop muted>
                                        <source src="~/Content/video/Aguila 3mb.mp4" />
                                    </video>
                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>


<script type="text/javascript" src="~/Scripts/Index/Index.js"></script>

<style>
    @@font-face {
        font-family: 'Dense';
        src: url('../../Content/Fonts/fonnts.com-Kallisto_Bold.otf');
    }

    @@font-face {
        font-family: 'Dense-Italic';
        src: url('../../Content/Fonts/fonnts.com-Kallisto_Light.otf');
    }


    .titleNuevo {
        font-family: 'Dense';
    }

    .subtitleNuevo {
        font-family: 'Dense-Italic';
    }
</style>
