@font-face {
    font-family: 'Dense';
    /*src: url('../../Content/Fonts/fonnts.com-Kallisto_Bold.otf');*/
    src: url('../Content/Fonts/fonnts.com-Kallisto_Bold.otf')
}

@font-face {
    font-family: 'Dense-Italic';
    src: url('../Content/Fonts/fonnts.com-Kallisto_Light.otf');
}


@font-face {
    font-family: 'Dense-Thin';
    src: url('../Content/Fonts/fonnts.com-Kallisto_Thin.otf');
}


.Titulo {
    font-family: 'Dense';
}

.Subtitulo {
    font-family: 'Dense-Italic';
}

.subtitulo2 {
    font-family: 'Dense-Thin';
}


.borderButtom {
    border-color: #29d0fd;
    border-left-color: #29d0fd;
    border-right-color: #29d0fd;
}


.fondoColibri {
    background-image: url('../Content/img/Colibri_formulario.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50px center;
}

.bglither {
    background-color: gray;
     border-radius:10px;
    opacity: .5;
    
}

html {
    scroll-padding-top: 150px; /* Ajusta este valor según la altura de tu barra */
}