body {
    position: relative;
    background-image: url('img/FondoEstrellasNegro.gif');
    background-size: cover;
    background-position: center;
}

    body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3); /* Cambia la opacidad aquí */
        z-index: -1;
    }

.card-img-top {
    height: 200px; /* Ajusta esta altura según sea necesario */
    object-fit: cover;
}

.btn-custom {
    border: 2px solid white;
    color: white;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

    .btn-custom:hover {
        text-decoration: underline;
        transform: scale(1.1);
        color: white;
    }

.btn-colores {
    background-image: linear-gradient(156deg, #00E0FD 0%, #A165F9 81%);
}


/*.accordion-button::after {
    content: "";
    background-image: url('img/Icono Dron.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;*/ /* Ajusta el tamaño según tu necesidad */
    /*height: 24px;
    margin-left: auto;*/ /* Mantiene la imagen en el extremo derecho */
/*}*/

/*.accordion-button::after {
    content: none;
}

.accordion-button::after {
    content: "";
    background-image: url('img/Icono Dron.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;  Ajusta el tamaño según tu necesidad 
    height: 24px;
    margin-left: auto;  Mantiene la imagen en el extremo derecho 
    transform: rotate(0deg);  Asegúrate de que no haya rotación inicial 
}
*/
/*.accordion-button:not(.collapsed)::after {
    transform: rotate(180deg);*/ /* Opcional: rota la imagen cuando el acordeón está abierto */
/*}*/

/*.accordion-button {
    content: "";
    background-image: url('img/Icono Dron.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;*/ /* Ajusta el tamaño según tu necesidad */
    /*height: 24px;
    margin-left: auto;*/ /* Mantiene la imagen en el extremo derecho */
/*}*/
